* {
  box-sizing: border-box;
  font-size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: mediumslateblue;
}

header.nav {
  text-align: end;
  float: right;
}

header { 
  background-color: blueviolet;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 40px;
}

#viewport h1 {
  font-size: 35px;
  justify-content: center;
  padding-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;

}


header div {
  background-color: mediumslateblue;
  width: 300px;
  padding-right: 10px;
  text-align: end;
}

header.div, h1 {
  color:black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 10;
  padding: 10;
  list-style-type: none;
}



nav ul li  {
  display: inline;
  text-align: end;
  padding-right:35px;
  
}

nav ul li a {
  justify-content: space-evenly 25px;
  color: rgb(7, 1, 1);
  font-size: 35px;
  border-bottom: 10px;

}

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px ;
}

section div.section-title {
  width: 25%;
  border-right: 4px solid black;
  text-align: right;
  padding-right: 10px;
}

section div.section-content {
  width: 75%;
  outline: 1px solid black;

}

div.work-items {
  display: flex;
  flex-wrap: wrap;
}

div.work-items div {
  background-color:blueviolet;
  width: 50%;
  height: 240px;
  outline: 2px solid white;
}

div.work-items .main-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div.work-items .main-item img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  
}
.img1 {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}


@media screen and (max-width: 600px) {
  div.work-items div {
    width: 100%;
  }
}

div.contact-info {
  background-color: gold;
  width: 80px;
  height: 150px;
}

.bio { 
  padding-left: 10px;
  background-color: gold;
  color: Darkslateblue;
  display: flex;
}

.contact {
  text-align: center;
}

.img {
  padding-left: 50px;
  border-radius:50%;
  width: 400px;
}

h3 {
  font-size: 40px;
}

.smallimage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}





