* {
  box-sizing: border-box;
  font-size: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: mediumslateblue ;

}

header { 
  background-color: blueviolet;
  height: 120px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  
}

header div {
  background-color: mediumslateblue;
  width: 200px;
  /* text-align: right; */
  padding-right: 10px;
}

head div h1 {
  color:black;
  font-size: 100px;
  
}

nav { 
  padding-right: 150px;
}


nav ul {
  margin: 10;
  padding: 10;
  list-style-type: none;
}

nav ul li  {
  display: inline;
  
  /* text-justify: auto; */
}

nav ul li a {
  color: white;
  font-size: 35px;
  border-bottom: 10px;
  text-align: center;
  
  
}

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px ;
}

section div.section-title {
  width: 25%;
  border-right: 4px solid black;
  text-align: right;
  padding-right: 10px;
}

section div.section-content {
  width: 75%;
  outline: 1px solid black;
  

}




div.work-items {
  display: flex;
  flex-wrap: wrap;
}

div.work-items div {
  background-color:blueviolet;
  width: 50%;
  height: 240px;
  outline: 2px solid white;
  /* border-radius: 10px; */
}

div.work-items div.main-item {
  width: 100%;
}

@media screen and (max-width: 600px) {
  div.work-items div {
    width: 100%;
  }

}

div.contact-info {
  background-color: gold;
  width: 80px;
  height: 150px;
  /* font-size: ; */
  /* border-radius: 10px; */

}

div.section-content-bio {
  padding-left: 10px;
}


.section-content.bio { 
  padding-left: 10px;
  background-color: gold;
  color: Darkslateblue;

}
.contact {
  /* padding-left: 20px; */
  /* font-size: x-large; */


  text-align: center;

}

img {
  padding-left: 50px;
  border-radius:50%;
  width: 400px;
}

h3 {
  font-size: 40px;
}
